.dashboard {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

h1 {
  color: #333;
  display: inline-block;
}

h2 {
  color: #555;
}

button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-button {
  background-color: #4caf50;
  color: white;
}

.logout-button {
  background-color: #f44336;
  color: white;
  padding: 10px;
  height: 50%;
}

.table-container {
  margin-top: 20px;
}
img {
  width: 50px;
  height: 50px;
}

.Header {
  display: flex;
  justify-content: space-between;
}
